<ion-modal-view>
    <ion-header-bar class="positive-bg ">
        <h2 class="title">新增配件</h2>
        <button side="right" class="button button-clear" ng-click="closeFitting()">关闭</button>
    </ion-header-bar>
    <ion-content>
        <form name="myForm" ng-submit="addFitting()">
        <div class="list">
            <label class="item item-input item-select">
                <span class="input-label">配件</span>
                <select name="sname" ng-model="fitdata.myFit" ng-value="fitdata.myFit" required  ng-required="true" ng-options="fit.name for fit in getFitting "  ></select>
            </label>


            <label class="item item-input">
                <span class="input-label">数量</span>
                <input name="nNum" ng-model="fitdata.num" ng-value="fitdata.num" type="number" required ng-required="true"  placeholder="请输入数量">

            </label>

            <label class="item item-input">
                <span class="input-label">规格</span>
                <input type="text" ng-readonly="true" value={{fitdata.myFit.spec}} >
            </label>

        </div>
        <br>
        <button class="button button-positive button-full radius" ng-disabled="myForm.$invalid" >确定</button>
        </form>
    </ion-content>

</ion-modal-view>