<ion-view view-title="订单明细">
    <ion-nav-bar class="bar-positive" >
        <ion-nav-buttons side="left">
            <button class="button button-clear icon ion-chevron-left" ng-click="orderPage()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-header">

        <ul>
            <li>
                <ion-item class="item item-input">
                    <span class="input-label">订单号</span>
                    <input  type="text" ng-value="0" readonly="readonly" value= {{detailData.orderNum}}>
                </ion-item>
                <ion-item class="item item-input">
                    <span class="input-label">订单日期</span>
                    <input  type="text" ng-value="0" readonly="readonly" value= {{detailData.createTime}}>
                </ion-item>
                <ion-item class="item item-input">
                    <span class="input-label">下单人</span>
                    <input  type="text" ng-value="0" readonly="readonly" value= {{detailData.weixinUserInfoId.username}}>
                </ion-item>
                <ion-item class="item item-input">
                    <span class="input-label">发货时间</span>
                    <input  type="text" ng-value="0" readonly="readonly" value= {{detailData.deliveryTime}}>
                </ion-item>
                <ion-item class="item item-input">
                    <span class="input-label">当前状态</span>
                    <input  type="text" ng-value="0" readonly="readonly" value= {{detailData.statusStr}}>
                </ion-item>
                <ion-item class="item item-divider">瓦片</ion-item>
                <ion-item class="item item-avatar-left" ng-repeat=" item in detailData.items">
                    <img src={{"img/"+item.color+".jpg"}} >
                    <h2>{{item.nodeNum+"节"+item.tableNum+"片"}}
                        <span class="item-note">{{(item.nodeNum*0.219).toFixed(3)}}米</span>
                    </h2>
                    <p>  <span ng-if=item.thickness==1>2.5mm</span>
                        <span ng-if=item.thickness==2>3.0mm</span>
                        <span class="item-note">{{(item.nodeNum*0.219*item.tableNum*1.05).toFixed(3)}}平方米</span>
                    </p>
                </ion-item>
                <ion-item class=" item-divider">配件</ion-item>
                <ion-item class="item-avatar-left" ng-repeat="fit in detailData.fits">
                    <img src={{fit.partsInfoId.picture}} >
                    <h2>{{fit.partsInfoId.name}}
                        <span class="item-note">{{fit.num}}</span>
                    </h2>
                    <p class="">{{fit.partsInfoId.spec}}</p>
                </ion-item>
            </li>
        </ul>

    </ion-content>
</ion-view>