<ion-view view-title="未完成订单">
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button >
            <div class="button button-clear ion-chevron-left"></div> 返回
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="has-header">
        <ion-list>
            <ion-item class="item-remove-animate item-icon-right" ng-repeat="orderdata in undoneOrderD" type="item-text-wrap" href="#/orderProcess/{{orderdata.id}}">

                <h2>{{orderdata.date}}</h2>
                <p>{{orderdata.state}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>

                <ion-option-button class="button-assertive" ng-click="remove(order)">
                    删除
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>