<ion-view view-title="选择颜色">
    <ion-nav-bar class="bar-positive" >
        <ion-nav-buttons side="left" >
            <button class="button button-clear icon ion-chevron-left" ng-click="#"></button>
        </ion-nav-buttons>

    </ion-nav-bar>
    <ion-content class="has-header">
        <ion-list>
            <ion-radio ng-model="choice" ng-value="'A'"><img src="templates/a.jpg" >Choose A</ion-radio>
            <ion-radio ng-model="choice" ng-value="'B'">Choose B</ion-radio>
        </ion-list>
    </ion-content>
</ion-view>