<ion-view view-title="管理员菜单">
    <ion-nav-bar class="bar-positive">
        <ion-nav-buttons side="left">
            <button class="button button-clear icon ion-chevron-left" ng-click="home()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-header">
       <ion-list>
           <ion-item class="item item-icon-left item-icon-right" href="#/admin/undoneOrder">
               <i class="icon ion-compass"></i>未完成订单
               <i class="icon ion-ios-arrow-right"></i>
           </ion-item>
           <ion-item class="item item-icon-left item-icon-right" href="#/admin/doneOrder">
               <i class="icon ion-checkmark"></i>已完成订单
               <i class="icon ion-ios-arrow-right"></i>
           </ion-item>

           <ion-item class="item item-divider"> </ion-item>

           <ion-item class="item item-icon-left item-icon-right" href="#/admin/customer">
               <i class="icon ion-ios-people"></i>客户管理
               <i class="icon ion-ios-arrow-right"></i>
           </ion-item>
           <ion-item class="item item-icon-left item-icon-right" href="#/admin/employ">
               <i class="icon ion-ios-person-outline"></i>员工管理
               <i class="icon ion-ios-arrow-right"></i>
           </ion-item>
           <ion-item class="item item-icon-left item-icon-right" href="#/admin/fitting">
               <i class="icon ion-ios-nutrition"></i>配件管理
               <i class="icon ion-ios-arrow-right"></i>
           </ion-item>
       </ion-list>
    </ion-content>
</ion-view>