<ion-view view-title="员工信息">
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button >
            <div class="button button-clear ion-chevron-left"></div> 返回
        </ion-nav-back-button>
        <ion-nav-buttons side="right">
            <button class="button button-clear " ng-click="saveEmploy()">保存</button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-header">
        <ion-list>
            <ion-item class="item-input">
                <span class="input-label">账号</span>
                <input type="text"  ng-model="employ.userName" required  placeholder="请输入账号">
            </ion-item>

            <ion-item class="item-input">
                <span class="input-label">密码</span>
                <input type="text" ng-model="employ.password" required placeholder="密码必须大于6位数">
            </ion-item>
            <ion-item class="item-input">
                <span class="input-label">姓名</span>
                <input type="text"  ng-model="employ.name" ng-required="true"  placeholder="请输入姓名">
            </ion-item>
            <ion-item class="item-input">
                <span class="input-label">电话</span>
                <input type="text" ng-model="employ.tel" ng-required="true" placeholder="请输入电话">
            </ion-item>

        </ion-list>
    </ion-content>
</ion-view>